﻿@using HotelTest.Infrastructure
@model HotelTest.Models.HotelFromDatabase

<h2>@Model.Name</h2>

<div>@Model.GetEntityType().Description</div>
<div>@Model.GetEntityType().Name</div>
<div>@Model.ID</div>
@{
    Html.RenderPartial("_fileUploadPartial", new FileUploadModel{EntityTypeId = Model.GetEntityType().ID,EntityId = Model.ID});
}

@{
    Html.RenderPartial("_imageListPartial",@Model.GetFileEntities());
}

@{
    Html.RenderPartial("_entytiFieldListPartial",Model.GetFieldEntities());
}

<script type="text/javascript" src=""></script>