﻿@model dynamic


<h2>title</h2>
@Html.BeginForm("FileUpload","Home",FormMethod.Post, new { enctype = "multipart/form-data" }){

<input type="file" name="files" multiple/>
<input type="submit" value="submit"/>

}