﻿@model IEnumerable<HotelTest.Models.HotelFromDatabase>

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}

<h2>title</h2>
@foreach (var hotelFromDatabase in Model)
{
    <div>@Html.ActionLink(hotelFromDatabase.Name,"Details", new { id = hotelFromDatabase.ID})</div>
}