﻿@model IEnumerable<HotelTest.ViewModels.FieldEntity.RenderedFieldEntityViewModel>

@foreach (var renderedFieldEntityViewModel in Model)
{
  <div class="field field-@renderedFieldEntityViewModel.ID">@Html.Raw(renderedFieldEntityViewModel.RenderedField)</div>
}